svg|symbol {
display: none;
}

svg|use.leaf {
opacity: 1.0;
}

svg|use.leaf:hover {
opacity: 0;
}

svg|use.svg-leaf-00 {
color: #867a6e;
color: var(--porcini);
}

svg|use.svg-leaf-01 {
color: #587040;
color: var(--houseplant-green);
}

svg|use.svg-leaf-02 {
color: #99c383;
color: var(--paradise-green);
}

svg|text{
color: white;
}
