ul.turberfield-dialogue-frame li {
animation-name: fadeinout;
animation-fill-mode: both;
}

ul.turberfield-dialogue-frame li:last-of-type {
animation-name: fadein;
}

@keyframes fadein {
    0% {
        color: transparent;
    }
    12% {
        color: black;
    }
    100% {
        color: black;
    }
}

@keyframes fadeinout {
    0% {
        color: transparent;
    }
    12% {
        color: black;
    }
    82% {
        color: black;
    }
    100% {
        color: lightgray;
    }
}

