ul.turberfield-dialogue-frame li {
animation-name: fadeinout;
animation-fill-mode: both;
list-style-type: none;
}

ul.turberfield-dialogue-frame li:last-of-type {
animation-name: fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

