@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

/* This matches all XHTML <a> elements, as XHTML is the default unprefixed namespace */
/* a {} */

/* This matches all SVG <a> elements */
/* svg|a {} */

/* This matches both XHTML and SVG <a> elements */
/* *|a {} */

/* https://stackoverflow.com/questions/24078524/svg-click-events-not-firing-bubbling-when-using-use-element */
@media all and (-ms-high-contrast: none) { svg|svg { pointer-events: none; } }

/* TODO: */
/* review media query breakpoints                 */
/* resize to viewport-relative vw, vh, vmin, vmax */
/* redefine colours using hsla                    */
/* scope custom values to parent container        */

:root {
  --houseplant-green: rgba(88, 112, 64, 1); /* #587040 */
  --paradise-green: rgba(107, 134, 55, 1);  /* #6b8637 */
  --picnic-green: rgba(153, 195, 131, 1);   /* #99c383 */
  --waterfall-blue: rgba(77, 97, 96, 1);    /* #4d6160 */
  --massif-blue: rgba(37, 55, 69, 1);       /* #253745 */
  --wild-magenta: rgba(180, 80, 144, 1);    /* #b45090 */
  --sturdy-brown: rgba(82, 48, 0, 1);       /* #523000 */
  --porcini: rgba(134, 122, 110, 1);        /* #867a6e */
  --shadow: rgba(34, 28, 46, 1);        /* #221c2e */
  --walnut: rgba(83, 55, 62, 1);        /* #53373e */
  --font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* { box-sizing: border-box; }

body {
background-color: #867a6e;
color: #221c2e;
background-color: var(--porcini);
color: var(--shadow);
font-family: var(--font-family-sans-serif);
}

ul.turberfield-dialogue-frame {
padding: 0.5em;
}

ul.turberfield-dialogue-frame li {
list-style-type: none;
}

h1 {
color: #99c383;
color: var(--picnic-green);
padding: 0.5em;
}

header.persona {
color: #99c383;
color: var(--picnic-green);
font-family: var(--font-family-sans-serif);
font-size: 1.5em;
}

header.persona:after{
content: ":";
}

p.speech {
color: whitesmoke;
font-family: var(--font-family-serif);
font-size: 1.3em;
}

a {
color: #53373e;
font-style: bold;
color: var(--walnut);
}

nav ul li{
list-style-type: none;
}

nav button {
border: 2px solid transparent;
color: white;
font-size: 1em;
font-weight: bold;
margin-top: 0.5em;
padding: 0.6em;
text-align: center;
width: 12em;
background-color: var(--houseplant-green);
}

nav button:hover {
border: 2px solid white;
}

