/* See https://medium.com/flexbox-and-grids/how-to-efficiently-master-the-css-grid-in-a-jiffy-585d0c213577 */
/* https://www.smashingmagazine.com/2017/10/naming-things-css-grid-layout/ */
/* https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/ */

body {
display: grid;
grid-template-areas:
"air"
"floor"
"inventory"
"nav";
}

main.air {
grid-area: air;
}

aside.floor {
grid-area: floor;
}

aside.inventory {
grid-area: inventory;
}

nav {
grid-area: nav;
}

@media (min-width: 500px) {

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
"air   inventory"
"floor inventory"
"floor nav      ";
}

}
