/* See https://medium.com/flexbox-and-grids/how-to-efficiently-master-the-css-grid-in-a-jiffy-585d0c213577 */
/* https://www.smashingmagazine.com/2017/10/naming-things-css-grid-layout/ */
/* https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/ */

body {
display: grid;
grid-template-areas:
"events"
"diorama"
"nav";
}

.grid-events {
grid-area: events;
}

.grid-diorama{
grid-area: diorama;
}

aside.diorama, section{
border-radius: 1em;
font-family: var(--font-family-monospace);
margin: 1em;
padding: 1.3em;
background-color: var(--picnic-green);
}

aside.diorama dl, section dl{
font-weight: lighter;
content: ":";
}

aside.diorama dt:after, section dt:after{
content: ":";
}

aside.diorama dd, section dd{
font-weight: bold;
margin: 1em;
}

nav {
grid-area: nav;
}

form.titles input {
background-color: #99c383;
border: 2px solid transparent;
color: #221c2e;
background-color: var(--picnic-green);
font-size: 1.1em;
font-weight: bold;
margin: 0.2em 1em 0.2em 1em;
padding: 0.2em 0.2em 0.2em 1em;
color: var(--shadow);
}

form.titles legend {
color: #99c383;
font-size: 3em;
font-weight: normal;
margin: 1em;
color: var(--picnic-green);
}

form.titles label {
color: lightgrey;
font-weight: bold;
}

form.titles fieldset {
border-radius: 1.3em;
color: lightgrey;
margin: 0.8em;
font-size: 1em;
padding: 1.2em;
border: 2px solid var(--walnut);
}

form.titles button {
border: 2px solid transparent;
color: white;
font-size: 1em;
font-weight: bold;
margin: 2em auto 2em 32em;
padding: 0.6em;
text-align: center;
width: 6em;
background-color: var(--houseplant-green);
}

form.titles button:hover {
border: 2px solid white;
}

@media (min-width: 800px) {

body {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr;
  grid-template-areas:
".  events  diorama    ."
".  events  diorama    ."
".  events  nav        .";
}

}
