dl.mod-stats {
display: flex;
font-size: 0.7em;
font-weight: lighter;
padding: 1em;
}

dl.mod-stats dt:after {
content: ":";
}

dl.mod-stats dd {
font-family: var(--font-family-monospace);
font-weight: bold;
margin: 1em;
}
