dl.mod-stats {
background-color: var(--shadow);
color: white;
display: flex;
font-size: 0.7em;
font-weight: lighter;
padding: 1em;
}

dl.mod-stats dt:after {
content: ":";
}

dl.mod-stats dd {
font-weight: bold;
margin: 1em;
}
