form.mod-titles input {
background-color: #99c383;
border: 2px solid transparent;
color: #221c2e;
background-color: var(--picnic-green);
font-size: 1.1em;
font-weight: bold;
margin: 0.2em 1em 0.2em 1em;
padding: 0.2em 0.2em 0.2em 1em;
color: var(--shadow);
}

form.mod-titles legend {
color: #99c383;
font-size: 3em;
font-weight: normal;
margin: 1em;
color: var(--picnic-green);
}

form.mod-titles label {
color: lightgrey;
font-weight: bold;
}

form.mod-titles fieldset {
border-radius: 1.3em;
color: lightgrey;
margin: 0.8em;
font-size: 1em;
padding: 1.2em;
border: 2px solid var(--shadow);
}

form.mod-titles button {
border: 2px solid transparent;
color: white;
font-size: 1em;
font-weight: bold;
margin: 2em auto 2em 32em;
padding: 0.6em;
text-align: center;
width: 6em;
background-color: var(--houseplant-green);
}

form.mod-titles button:hover {
border: 2px solid white;
}

