aside.mod-diorama {
background-color: var(--picnic-green);
border-radius: 1em;
padding: 0.5em;
margin: 0.2em;
}

.mod-diorama ul {
align-items: center;
list-style-type: none;
}

.mod-diorama ul li {
margin: 0.5em;
}

svg.mod-diorama text {
alignment-baseline: central;
fill: lightgray;
font-family: var(--font-family-serif);
font-size: 0.8em;
stroke: white;
stroke-linecap: round;
stroke-width: 0.1px;
text-anchor: middle;
}
