aside.mod-diorama {
padding: 0.2rem;
margin: 0.2rem;
min-width: 12rem;
}

.mod-diorama ul {
align-items: center;
background-color: var(--walnut);
border-radius: 1rem;
list-style-type: none;
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
}

.mod-diorama ul li {
margin: 0.2rem;
}

@media (orientation: portrait) {
.mod-diorama ul {
flex-direction: row;
}
}
