svg.mod-symbol {
}

svg.mod-symbol text {
color: var(--shadow);
dominant-baseline: middle;
fill: currentColor;
font-family: var(--font-family-serif);
stroke: var(--sturdy-brown);
stroke-linecap: round;
stroke-width: 0.1px;
text-anchor: middle;
}

