svg.mod-symbol {
height: 4vh;
}

svg.mod-symbol text {
color: var(--shadow);
dominant-baseline: middle;
fill: currentColor;
font-family: var(--font-family-serif);
font-size: 0.8em;
stroke: var(--sturdy-brown);
stroke-linecap: round;
stroke-width: 0.1px;
text-anchor: middle;
}

