aside.mod-diorama {
background-color: var(--walnut);
border-radius: 1em;
padding: 0.2em;
margin: 0.2em;
}

.mod-diorama ul {
align-items: center;
list-style-type: none;
}

.mod-diorama ul li {
margin: 0.2em;
}

svg.mod-diorama text {
alignment-baseline: central;
fill: var(--shadow);
font-family: var(--font-family-serif);
font-size: 0.6em;
stroke: var(--sturdy-brown);
stroke-linecap: round;
stroke-width: 0.1px;
text-anchor: middle;
}
