recursive-include . *.cfg
recursive-include . *.cli
recursive-include . *.css
recursive-include . *.mp3
recursive-include . *.rst
recursive-include . *.svg
recursive-include . *.tpl
recursive-include . *.wav
